#all-the-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0% 23%;
	gap: 20px;
	height: 80%;
}
#body {
	height: 100vh;
	width: 100vw;
}
h1 {
	text-align: center;
	font-family: 'Helvetica Neue Light';
	font-weight: 400;
}
#lobby-page-container {
	height: 65%;
}
.block {
	width: 100%;
	text-align: center;
	height: 100px;
	background-color: #bfbff4;
	border-radius: 15px;
	font-size: 22px;
	padding-top: 70px;
}
.block:hover {
	background-color: #6d6b64;
	color: white;
}

@media only screen and (max-width: 690px) {
	#all-the-blocks {
		grid-template-columns: repeat(1, 1fr);
		overflow: scroll;
	}
	/* width */
	::-webkit-scrollbar {
		width: 100%;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: transparent;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: transparent;
	}
	.block {
		font-size: 20px;
	}
}
